<div class="body-asking">
    <h1>{{tituloBanner}}</h1>
    <div class="accordion">
        <mat-accordion>

            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Posso ver o Menu ?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Para acessar nosso menu, clique no icone ao lado.
                    <button mat-icon-button>
                        <mat-icon>open_in_new</mat-icon>
                    </button>
                </p>
            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Posso fazer uma reserva ?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Pode agendar a reserva através do número (11) 3681-1688 ou (11) 3684-1052 .</p>
                <p>Estamos sempre disponíveis para atendê-lo !</p>
            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Qual é o horário de funcionamento ?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Nosso horário de funcionamento é:</p>
                <p>Segunda a Quinta , aberto das 12:00 ás 15:30 e 18:00 até as 23:00 ,</p>
                <p>Sexta, aberto das 12:00 ás 15:30 e 18:00 até as 23:30 ,</p>
                <p>Aos sabados estamos abertos das 12:00 até as 23:30 ,</p>
                <p>Aos Domingos estamos abertos das 12:00 até as 23:00 .</p>

            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Qual a localização do restaurante ?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Estamos localizados no seguinte endereço:</p>
                <p>Av. dos Autonomistas , 2175 , Osasco/SP - 06018-095 .</p>
            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Possui estacionamento ?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Sim, temos estacionamento com manobrista .</p>
            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Vocês entregam ?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Sim temos a modalidade delivery, atendemos até 8km .</p>
            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Quantidade total de lugares ?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Nossa capacidade total da casa é de 600 lugares .</p>
            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Tipos de eventos vocês atendem ?
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Temos a estrutura completa para seu evento, fazemos Buffet, Aniversários, Casamentos, Bodas,
                    Confraternização Empresarial, e Festa de 15 anos .</p>
            </mat-expansion-panel>

        </mat-accordion>
    </div>

</div>