
.body-asking {
  text-align: center;
  padding: 1%;
  background-color: whitesmoke;
}

h1 {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 40px;
  padding: 2%;
}

.accordion {
  padding-right: 20%;
  padding-left: 20%;
  padding-bottom: 5%;
}
