<h1>{{tituloBanner}}</h1>

<div class="card-food">
    <div class="food-restaurant">
        <h3>Restaurante - Atendimento amistoso e espaço aconchegante!</h3>
        <p>Salão da Churrascaria
            <br>Salão da Pizzaria
            <br>Salão para Eventos
            <br>Buffet com saladas, sobremesas e frutos do mar
            <br>Estacionamento com manobrista
        </p>
        <a mat-raised-button class="button-cardapio" color="warn" href="/contact">
          Reserve uma mesa
        </a>
    </div>
    <div fxShow="true" fxHide.lt-md>
        <img class="card-imagem" src="https://cutt.ly/ajjV3dC">
    </div>
</div>

<div class="card-food">
    <div fxShow="true" fxHide.lt-md>
        <img class="card-imagem" src="https://cutt.ly/RjjV9Ab">
    </div>
    <div class="food-event">
        <h3>Eventos - Realize seus eventos aqui na Estância!</h3>
        <p>Buffet • Aniversários • Casamentos
            <br>• Bodas • Confraternização Empresarial •
            Festa de 15 anos
            <br>Para eventos no Salão são inclusos: Louças, talheres, copos, garçons e montagem de mesa
            <br>• Não cobramos taxa 10%
            <br>• Não cobramos taxa do salão.
        </p>
        <a mat-raised-button class="button-cardapio" color="warn" href="/menu">
          Conheça o Menu
        </a>
    </div>
</div>

<div class="card-food">
    <div class="food-delivery">
        <h3>Delivery - Desfrute das delícias da Estância em casa!</h3>
        <p>Faça seu pedido através do Whatsapp ou Ifood.</p>
        <p>Entregamos até 8km.</p>
        <a mat-raised-button class="button-cardapio" color="warn" href="https://www.ifood.com.br/delivery/osasco-sp/estancia-churrascaria-centro/e60fd215-dc4a-44f7-bed7-bfadaceafdfe">
          Faça seu pedido
        </a>
    </div>

    <div fxShow="true" fxHide.lt-md>
        <img class="card-imagem" src="https://cutt.ly/yjjV0fY">
    </div>
</div>

<h2>{{subTituloBanner}}</h2>
