div {
  width: 50%;
}

h1 {
  text-align: center;
  line-height: 3.5rem;
  font-size: 50px;
  font-weight: bold;
  font-family: "Roboto Light", sans-serif;
  padding-top: 5%;
  padding-bottom: 5%;
}

h2 {
  font-size: 16px;
  text-align: center;
  font-family: "Roboto Light", sans-serif;
  color: #000;
  padding: 2%;
}

p {
  font-family: "Roboto Light", sans-serif;
  line-height: 1.5rem;
}

.card-food {
  width: 100%;
  display: flex;
  text-align: center;
}

.card-imagem {
  width: 90%;
  height: 90%;
}

.food-restaurant {
  padding-top: 6%;
}

.food-event {
  padding-top: 4%;
}

.food-delivery {
  padding-top: 7%;
}

@media (max-width: 800px) {
  div {
    width: 100%;
    padding: 2, 5%;
  }

  h1 {
    font-size: 36px;
    line-height: 2.9rem;
    padding-bottom: 0px;
  }

  h2 {
    padding: 10%;
  }

  .food-restaurant {
    padding-top: 5%;
  }

  .food-event {
    padding-top: 10%;
  }

  .food-delivery {
    padding-top: 10%;
  }
}
