<div class="banner-food">
    <h1>{{tituloBanner}}</h1>
</div>

<div style="width: 100%; display: flex; text-align: center;">
    <div style="padding-top: 4%">
        <h3>Restaurante - Atendimento amistoso e espaço aconchegante!</h3>
        <p>Salão da Churrascaria
            <br>Salão da Pizzaria
            <br>Salão para Eventos
            <br>Buffet com saladas, sobremesas e frutos do mar
            <br>Estacionamento com manobrista
        </p>
        <button mat-raised-button class="button-cardapio" color="warn">
            Reserve uma mesa
        </button>
    </div>
    <div fxShow="true" fxHide.lt-md>
        <img style="width: 90%; height: 90%;"
            src="https://cutt.ly/ajjV3dC">
    </div>
</div>

<div style="width: 100%; display: flex; text-align: center;">
    <div fxShow="true" fxHide.lt-md>
        <img style="width: 90%; height: 90%;"
            src="https://cutt.ly/RjjV9Ab">
    </div>
    <div style="padding-top: 4%">
        <h3>Eventos - Realize seus eventos aqui na Estância!</h3>
        <p>Buffet • Aniversários • Casamentos • Bodas • Confraternização Empresarial •
            Festa de 15 anos</p>
        <p>Para eventos no Salão são inclusos: Louças, talheres, copos, garçons e montagem de mesa
            Não cobramos taxa 10% • Não cobramos taxa do salão.</p>
        <button mat-raised-button class="button-cardapio" color="warn">
            Conheça o Menu
        </button>
    </div>
</div>

<div style="width: 100%; display: flex; text-align: center;">
    <div style="padding-top: 7%">
        <h3>Delivery - Desfrute das delícias da Estância em casa!</h3>
        <p>Faça seu pedido através do Whatsapp ou Ifood.</p>
        <p>Entregamos até 8km.</p>
        <button mat-raised-button class="button-cardapio" color="warn">
            Faça seu pedido
        </button>
    </div>

    <div fxShow="true" fxHide.lt-md>
        <img style="width: 90%; height: 90%;"
            src="https://cutt.ly/yjjV0fY">
    </div>
</div>

<h2>{{subTituloBanner}}</h2>
