.body-depositions {
  background-color: whitesmoke;
}

h1 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 40px;
  line-height: 1.5em;
  padding-top: 2%;
  text-align: center;
}

.five-star {
  padding-top: 2%;
  text-align: center;
}

.icon {
  font-size: 35px;
  padding: 1%;
  color: #f44336;
}
