<div class="fundo">
    <div style="padding: 8%; padding-top: 8%; padding-bottom: 8%;">
        <h1>Rodízio de<br>
            Churrasco e Pizzas</h1>
        <button mat-flat-button class="button-cardapio" color="warn">
            Conheça nosso Cardápio
        </button>
        <p></p>
    </div>
</div>

<app-food></app-food>

<mat-divider></mat-divider>

<app-depositions></app-depositions>

<app-about></app-about>

<mat-divider></mat-divider>

<app-asking></app-asking>

<app-footer></app-footer>