<div class="body-depositions">
    <br>
    <p style="text-align: center;">
        <mat-icon class="icon" aria-hidden="false">star</mat-icon>
        <mat-icon class="icon" aria-hidden="false">star</mat-icon>
        <mat-icon class="icon" aria-hidden="false">star</mat-icon>
        <mat-icon class="icon" aria-hidden="false">star</mat-icon>
        <mat-icon class="icon" aria-hidden="false">star</mat-icon>
    </p>
    <h1>Depoimento dos nossos Clientes</h1>
    <div style="padding-right: 10%; padding-left: 10%; padding-bottom: 5%; padding-top: 5%;">
        <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="16px">
            <mat-card class="example-card" fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)">
                <mat-card-content>
                    <p>almoçei com minha namorada exelente atendimento funcionaros otimos buffe maravilhoso
                        ambiente
                        muito bom..adorei</p>
                </mat-card-content>
                <mat-card-subtitle>Daniel P.</mat-card-subtitle>
            </mat-card>
            <mat-card class="example-card" fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)">
                <mat-card-content>
                    <p>
                        Fui com minha família, pedimos rodízio, fomos muito bem atendidos. Churrasco muito
                        gostoso,
                        várias opções. Tem estacionamento também.
                    </p>
                </mat-card-content>
                <mat-card-subtitle>Ludia</mat-card-subtitle>
            </mat-card>
            <mat-card class="example-card" fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)">
                <mat-card-content>
                    <p>Como todo brasileiro sou apaixonado por churrasco e pizza... então nada melhor que
                        aproveitar
                        o rodizio nesse estabelecimento.</p>
                </mat-card-content>
                <mat-card-subtitle>Pedro S.</mat-card-subtitle>
            </mat-card>
        </div>
    </div>
    <br>
</div>