<div>
  <h1>Contatos e Reservas</h1>
  <h2> Como Chegar: </h2>
  <p> Telefone: (11) 3681-1688 ou (11) 3684-1052 </p>
  <p> E-mail: estanciaosasco@gmail.com </p>
  <p> Endereço: Av. dos Autonomistas , 2175 , Osasco/SP - 06018-095 .</p>
  <br>
  <h2>Horário de Funcionamento:</h2>
  <p>Domingo: 12:00 às 17:00</p>
  <p>Segunda: 12:00 às 15:00</p>
  <p>Terça a Quinta: 12:00 às 15:00 e 19:00 às 23:00</p>
  <p>Sexta: 12:00 às 15:00 e 19:00 às 00:30</p>
  <p>Sábado: 12:00 às 16:00 e 19:00</p>
  <br>
  <p>Consulte nossos horários de funcionamento devido ao protocolo contra Covid-19.</p>
  <br>
  <img class="map" src="assets/img/Location.png"/>
</div>
<app-footer></app-footer>
