div {
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: "Roboto Light", sans-serif;
  padding-top: 5%;
}

h2 {
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  font-family: "Roboto Light", sans-serif;
  color: #000;
}

p {
  font-family: "Roboto Light", sans-serif;
  line-height: 1.5rem;
}

.map {
  padding-bottom: 5%
}

@media (max-width: 800px) {
  div {
    width: 100%;
    padding: 2.5%;
  }
  h1 {
    font-size: 30px;
    padding-bottom: 0px;
  }
  .map {
    width: 100%;
    padding-bottom: 5%
  }
}
