h1 {
  text-align: center;
  font-size: 28px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: whitesmoke;
}

h2 {
  font-size: 16px;
  font-family: "Roboto Light", sans-serif;
  color: #cfd5d8;
  text-align: center;
}

p {
  text-align: center;
  color: #cfd5d8;
  padding: 5% 10% 5%;
  font-family: "Roboto Thin", sans-serif;
  font-size: 16px;
  line-height: 2em;
}

.banner-about {
  display: flex;
  background-color: #2e2e2c;
}

.banner-about-image {
  width: 50%;
  height: 550px;
  background: url(https://cutt.ly/1jv2BYL);
}

.banner-about-description {
  margin: auto;
  width: 50%;
}

@media (max-width: 800px) {
  p {
    text-align: center;
    color: #cfd5d8;
    padding: 1, 5%;
    padding-top: 3%;
    font-family: "Roboto Thin", sans-serif;
    font-size: 16px;
    line-height: 2em;
  }

  .banner-about-description {
    margin: auto;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 3%;
  }
}
