<h4>{{nomeFantasia}}</h4>

<p>
    <button mat-button>
        Terms
    </button> |
    <button mat-button>
        Privacy
    </button>
</p>
<p>
    <button mat-icon-button>
        <mat-icon color="basic">facebook</mat-icon>
    </button>
    <button mat-icon-button>
        <mat-icon color="basic">photo_camera</mat-icon>
    </button>

    <button mat-icon-button>
        <mat-icon color="basic">perm_phone_msg</mat-icon>
    </button>

    <button mat-icon-button>
        <mat-icon color="basic">email</mat-icon>
    </button>
</p>

<mat-divider></mat-divider>

<p class="copy">© {{date}} . {{nomeFantasia}} | Todos os direitos reservados.</p>