<mat-divider></mat-divider>
<h4>{{nomeFantasia}}</h4>

<p>
    <button mat-button>
        Terms
    </button> |
    <button mat-button>
        Privacy
    </button>
</p>
<p>
  <a mat-icon-button href="https://www.facebook.com/Est%C3%A2ncia-Churrascaria-484879064930961/">
    <mat-icon color="basic">facebook</mat-icon>
  </a>

  <a mat-icon-button href="https://www.instagram.com/estanciachurrascariaosasco/">
    <mat-icon color="basic">photo_camera</mat-icon>
  </a>

  <a mat-icon-button href="/contact">
    <mat-icon color="basic">perm_phone_msg</mat-icon>
  </a>

  <a mat-icon-button href="https://www.facebook.com/Est%C3%A2ncia-Churrascaria-484879064930961/">
    <mat-icon color="basic">email</mat-icon>
  </a>

</p>

<mat-divider></mat-divider>

<p class="copy">© {{date}} . {{nomeFantasia}} | Todos os direitos reservados.</p>
