h4 {
  text-align: center;
  padding: 1%;
}

p {
  font-size: 12px;
  text-align: center;
  font-family: 'Roboto Light', sans-serif;

}

mat-icon {
  font-size: 16px;
  text-align: center;
  padding: 2%;
}

button, mat-button{
  font-size: 12px;
  font-family: 'Roboto Light', sans-serif;

}
.copy {
  padding: 1%;
}
