<div class="banner-menu" style="text-align: center; padding: 2%;">
    <h1>{{pageTitle}}</h1>
</div>

<mat-tab-group style="padding-top: 40px; padding-left: 2%; padding-right: 2%;">
    <mat-tab label="Churrascaria">
        <div style="text-align: center; padding: 2%;">
            <h1>{{titleSteak}}</h1>
            <p>{{descriptionSteak}} </p>
            <br>
            <h1>{{titleCuts1}}</h1>
            <br>
            <div *ngFor="let tradicionalCuts of tradicionalCutsList">
                <h3>{{tradicionalCuts.meatType}}</h3>
              <p>{{tradicionalCuts.description}}</p>
              <p>{{tradicionalCuts.value}}</p>
              <br>
            </div>
            <br>
            <h1>{{titleCuts2}}</h1>
          <br>
          <div *ngFor="let garnish of garnishList">
            <h3>{{garnish.name}}</h3>
            <p>{{garnish.value}}</p>
            <br>
          </div>
        </div>
    </mat-tab>

    <mat-tab label="Pizzaria">
        <div style="text-align: center; padding: 2%; text-align: center;">
            <h1>{{titleBannerPizza}}</h1>
            <p>{{descriptionBannerPizza}} </p>
            <br>
            <h1>{{titlePizza1}}</h1>
            <br>
            <div *ngFor="let pizza of tradicionalPizzasList">
                <h3>{{pizza.titlePizza}}</h3>
                <p>{{pizza.ingredients}}</p>
              <br>

            </div>
            <br>
            <h1>{{titlePizza2}}</h1>
            <br>
            <div *ngFor="let pizza of sweetPizzasList">
                <h3>{{pizza.titlePizza}}</h3>
                <p>{{pizza.ingredients}}</p>
              <br>
            </div>
        </div>
    </mat-tab>

    <mat-tab label="Leve para Casa">
        <div style="text-align: center; padding: 2%;">
          <h1>O Restaurante Estância vai até você !</h1>
          <br>
            <p>{{descriptionDelivery}}</p>
          <br>
          <a mat-raised-button color="warn" href="https://www.ifood.com.br/delivery/osasco-sp/estancia-churrascaria-centro/e60fd215-dc4a-44f7-bed7-bfadaceafdfe">
            Acesse o Ifood
          </a>
        </div>
    </mat-tab>

</mat-tab-group>
<app-footer></app-footer>
