<div class="banner-menu" style="text-align: center; padding: 2%;">
    <h1>{{pageTitle}}</h1>
</div>

<mat-tab-group style="padding-top: 40px; padding-left: 2%; padding-right: 2%;">
    <mat-tab label="Churrascaria">
        <div style="text-align: center; padding: 2%;">
            <h1>{{titleSteak}}</h1>
            <p>{{descriptionSteak}} </p>
            <br>
            <h1>{{titleCuts1}}</h1>
            <br>
            <mat-grid-list cols="3">
                <mat-grid-tile *ngFor="let tradicionalCuts of tradicionalCutsList">
                    <div style="padding: 10%;">
                        <mat-card class="example-card" fxFlex="calc(33.3%-25px)" fxFlex.sm="calc(50%-25px)">
                            <mat-card-header>
                                <mat-card-title style="text-align: center;">{{tradicionalCuts.meatType}}
                                </mat-card-title>
                            </mat-card-header>
                            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                alt="Photo of a Shiba Inu">
                            <mat-card-subtitle>{{tradicionalCuts.kilo}}</mat-card-subtitle>
                        </mat-card>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
            <br>
            <h1>{{titleCuts2}}</h1>
            <mat-grid-list cols="3">
                <mat-grid-tile *ngFor="let novelCuts of novelCutsList">
                    <div style="padding: 10%;">
                        <mat-card class="example-card" fxFlex="calc(33.3%-25px)" fxFlex.sm="calc(50%-25px)">
                            <mat-card-header>
                                <mat-card-title style="text-align: center;">{{novelCuts.meatType}}
                                </mat-card-title>
                            </mat-card-header>
                            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                alt="Photo of a Shiba Inu">
                            <mat-card-subtitle>{{novelCuts.kilo}}</mat-card-subtitle>
                        </mat-card>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
            <br>
            <h1>{{titleCuts3}}</h1>
            <mat-grid-list cols="3">
                <mat-grid-tile *ngFor="let cuttingFish of cuttingFishList">
                    <div style="padding: 10%;">
                        <mat-card class="example-card" fxFlex="calc(33.3%-25px)" fxFlex.sm="calc(50%-25px)">
                            <mat-card-header>
                                <mat-card-title style="text-align: center;">{{cuttingFish.meatType}}
                                </mat-card-title>
                            </mat-card-header>
                            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                alt="Photo of a Shiba Inu">
                            <mat-card-subtitle>{{cuttingFish.kilo}}</mat-card-subtitle>
                        </mat-card>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </mat-tab>

    <mat-tab label="Pizzaria">
        <div style="text-align: center; padding: 2%; text-align: center;">
            <h1>{{titleBannerPizza}}</h1>
            <p>{{descriptionBannerPizza}} </p>
            <br>
            <h1>{{titlePizza1}}</h1>
            <br>
            <div *ngFor="let pizza of tradicionalPizzasList">
                <h3>{{pizza.titlePizza}}</h3>
                <p>{{pizza.ingredients}}</p>
            </div>
            <br>
            <h1>{{titlePizza2}}</h1>
            <br>
            <div *ngFor="let pizza of sweetPizzasList">
                <h3>{{pizza.titlePizza}}</h3>
                <p>{{pizza.ingredients}}</p>
            </div>
        </div>
    </mat-tab>

    <mat-tab label="Leve para Casa">
        <div style="text-align: center; padding: 2%;">
            <p>{{descriptionBannerPizza}}</p>
        </div>
    </mat-tab>

</mat-tab-group>
<app-footer></app-footer>