<div style="display: flex; background-color: #2E2E2C;">

    <img class="img-about" fxShow="true" fxHide.lt-md style=" width: 50%;" src="banner-meat.jpg">

    <div style=" margin: auto;">
        <br>
        <h1>
            Estancia Churrascaria e Pizzaria
        </h1>
        <br>
        <h2>
            SABOR QUE VEM DOS DETALHES
        </h2>
        <p>
            A Estância Churrascaria e Pizzaria, oferecendo a
            seus clientes uma harmonia de aromas e sabores especiais.
            Uma variedade enorme de pratos: carnes, frango,
            pizzas , porções, frutos do mar, e sobremesas, feitos com o máximo controle de qualidade, pensando
            sempre na
            satisfação de nossos
            clientes.
            Nossa estrutura oferece ambiente climatizado e um salão de eventos capaz de atender cerca de 75 pessoas
            para
            buffets,
            aniversários, casamentos, festas de 15 anos e confraternizações em geral, também possui estacionamento
            com
            manobrista.
        </p>
        <br>
    </div>
</div>