<div style="text-align: center; width: 100%;">
    <carousel [height]="300" [cellsToShow]="sizeWindow" [margin]="2" style="width: 80%; display: inline-block;">
        <div class="carousel-cell" *ngFor="let deposition of depositionList">
            <mat-card class="example-card" fxFlex="calc(33.3%-25px)" fxFlex.sm="calc(50%-25px)">
                <mat-card-content>
                    <p>{{deposition.text}}</p>
                </mat-card-content>
                <mat-card-subtitle>{{deposition.author}}</mat-card-subtitle>
            </mat-card>
        </div>
    </carousel>
</div>